certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.7
imageio==2.4.1
kiwisolver==1.0.1
matplotlib==3.0.2
moviepy==0.2.3.5
numpy==1.15.4
omgifol==0.4.0
opencv-python==3.4.3.18
Pillow==8.2.0
pkg-resources==0.0.0
pyparsing==2.3.0
python-dateutil==2.7.5
pyzmq==17.1.2
requests==2.20.1
scipy==1.1.0
six==1.11.0
torch==0.4.1
torchfile==0.1.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
urllib3==1.26.5
visdom==0.1.8.5
vizdoom==1.1.4
websocket-client==0.54.0
